body{
	background: -moz-linear-gradient(45deg, rgba(174,87,179,1) 0%, rgba(228,155,235,1) 40%, rgba(255,213,158,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(174,87,179,1)), color-stop(40%, rgba(228,155,235,1)), color-stop(100%, rgba(255,213,158,1))); /* safari4+,chrome */
}
.jumbotron {
	color:#616985;
	text-align: center;
	background: none;

	/* background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(254,199,255,0.5)), color-stop(100%, rgba(255,207,153,1))); */
}

.section {
	padding: 29px;
	color: #FFFFFF;
}
.section2 {
	background-color: #ffc3ad;
	padding: 25px;
	color: white;
}
h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 40px;
}
h6{
	font-family: 'Abril Fatface', cursive;
	text-shadow: 1px 1px gray;
	font-size: 40px;
}
/* section slant */

html {
	font-family: 'Roboto Condensed';
	color: #fff;
	background: #fafafa;
  }
  
  /* body {
	padding: 0em 6em;
  } */

 
  .header {
	z-index: 1;
	position: relative;
	
  }
  
  .header .skew:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: visible;
	width: 100%;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(254,199,255,90)), color-stop(100%, rgba(255,207,153,1)));
	z-index: -1;
	-webkit-transform: skewY(-2deg);
	-moz-transform: skewY(-2deg);
	-ms-transform: skewY(-2deg);
	-o-transform: skewY(-2deg);
	transform: skewY(-2deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
  }
  
  .header .skew .header-inner {
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
  }
  

  
  .container-slant {
	padding-top: 60px;
	color: white;
  }
  
  .main-container {
	background: #616985;
	position: relative;
	padding: 10px;
	text-align: center;
	color: white
  }
  
  .main-container:before {
	content: '';
	position: absolute;
	left: 0;
	top: -36px;
	width: 100%;
	height: 60px;
	background: #616985;
	-webkit-transform: skewY(2.5deg);
	-moz-transform: skewY(2.5deg);
	-ms-transform: skewY(2.5deg);
	-o-transform: skewY(2.5deg);
	transform: skewY(2.5deg);
	-webkit-backface-visibility: hidden;
  }
  
  section-slant {
	margin: 30px auto;
	padding: 30px;
	padding-bottom: 10px;
	position: relative;
	max-width: 400px;
  }
  .btn-primary {
    color: #fff;
    background-color: #e49beb;
	border-color: #e49beb;
	/* a  {
		color: #fac7ff;
		text-decoration: none;
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
	} */
}

.btn-primary {
    color: #fff;
    background-color: #e49beb;
	border-color: #e49beb;
	box-shadow: 1px 1px 2px #616985;

	/* a  {
		color: #fac7ff;
		text-decoration: none;
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
	} */
}