.searchbox {
    width: 90%;
    margin: 50px;
}
.searchbar-main{
    height: 40px;
}
.rwoSearch {
width: 100px;
 text-align: center!important;
 margin: 0;
}
.form-group {
    margin-left: 190px;
    margin-bottom: 1rem;
}
